
   .page5 {

  .content-list{margin:0 auto;padding-bottom: 20px;background-color: #fff;}
  .content-list h3{font-weight: bolder;font-size: 16px;margin: 14px 0 10px; padding-top: 20px;padding:0 5%;}
  .content-list h3 img{float: right;margin-top: 8px;width: 32px;}
  .content-list h4{font-weight: bolder;margin:24px 0 6px;font-size: 16px;}
  .content-list h5{color:#9b9b9b;margin-bottom: 20px;}
  ul{}  
  ul li{float: left;width: 44%;margin-left: 4%;}  
  ul li img{width: 100%;}
  ol{}
  ol li{border-radius: 4px;border:solid 1px #efefef; padding: 10px;line-height: 1;width: 92%;margin-left: 4%;margin-bottom: 10px;vertical-align: middle;display: table;height: 80px;}
  ol li .good{float: left;height:80px;margin-right: 10px;}
  ol li .arr{float: right;width: 20px;padding-top: 30px;margin-right: 10px;}
   }